@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: Poppins;
    background-image: linear-gradient(to right , rgb(243, 233, 233), rgb(241, 233, 233), rgb(240, 240, 228),rgb(229, 229, 239), rgb(232, 244, 232));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#display{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}